* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  background: url('https://images.unsplash.com/photo-1558486012-817176f84c6d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=919&q=80') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo2 {
    animation: App-logo2-spin infinite 15s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo2-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.header img {
  width: 10rem;
}


img {
  height: 40px;
  width: 40px
}

.current-temp {
  font-size: 3rem;
}

.form {
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

input {
  background: rgba(255, 165, 216, 0.6);
}